/* CSS */

/* :root {
  --colour: red;
}
 */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.test {
  color: var(--colour);
  font-size: 10em;
}

.mithril-container{
  padding: 1rem;
}

.canvas {
  width: 600px;
  height: 400px;
  border: 1px solid black;
}